---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2018
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

- hosts: localhost
  tasks:
    - name: Load kud variables
      include_vars:
        file: kud-vars.yml
    - name: create sriov folder
      file:
        state: directory
        path: "{{ sriov_dest }}"
    - name: getting SRIOV drivers
      block:
      - name: download Sriov driver tarball
        get_url:
          url: "{{ driver_url }}"
          dest: "/tmp/{{ package }}.tar.gz"
      - name: extract sriov source code
        unarchive:
          src: "/tmp/{{ package }}.tar.gz"
          dest: "{{ sriov_dest }}"
          remote_src: yes
      - name: Build the default target
        make:
          chdir: /tmp/sriov/iavf-3.7.34/src
