---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2018
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

#- hosts: kube-node
#  become: yes
#  pre_tasks:
#    #- name: Copy SRIOV hardware check.
#      #command: "/home/vagrant/multicloud-k8s/kud/hosting_providers/vagrant/sriov_hardware_check.sh ~/"
#    - copy:
#        src: /home/vagrant/multicloud-k8s/kud/hosting_providers/vagrant/sriov_hardware_check.sh
#        dest: ~/
#    - name: Changing perm of "sh", adding "+x"
#      file: dest=~/sriov_hardware_check.sh mode=a+x
#    - name: Register SRIOV
#      shell: "echo {{ SRIOV | default(False) }}"
#    - name: Run the script and register the SRIOV VARIABLE
#      shell: ~/sriov_hardware_check.sh
#      args:
#        chdir: "~/"
#      become: yes
#      register: find_output
#    - debug:
#        var: find_output.stdout
#    - set_fact:
#        SRIOV: "{{ find_output.stdout }}"
#    - debug:
#        var: SRIOV
#    - name: check if the varible is set
#      command: "echo {{ SRIOV }}"
#    - name: check if the varible is set
#      command: touch ~/allset.txt
#      when: SRIOV == True
#    - block:
#      - name: "end play if SRIOV is False"
#        debug:
#          msg: "nothing to do, ending play"
#      - meta: end_play
#      when: SRIOV == false
        #when: find_output.stdout == "The conditional check 'SRIOV == True' failed."

- include: play.yml SRIOV='False'

- hosts: localhost
  become: yes
  pre_tasks:
    - block:
      - name: "End play if SRIOV is False"
        debug:
          msg: "SRIOV option not available, ending play"
      - meta: end_play
    - name: Load kud variables
      include_vars:
        file: kud-vars.yml
  tasks:
    - name: create sriov folder
      file:
        state: directory
        path: "{{ sriov_dest }}"
      when: SRIOV == True
      ignore_errors: yes
    #- name: getting SRIOV drivers
      #block:
      #- name: download Sriov driver tarball
        #get_url:
          #url: "{{ driver_url }}"
          #dest: "/tmp/{{ package }}.tar.gz"
    - name: extract sriov source code
      unarchive:
         src: "/tmp/{{ package }}.tar.gz"
         dest: "{{ sriov_dest }}"
      when: SRIOV == True
    - name: Build the default target
      make:
        chdir: "/tmp/sriov/{{ package }}/src"
      become: yes
      when: SRIOV == True
- hosts: kube-node
  become: yes
  pre_tasks:
    - name: Load kud variables
      include_vars:
        file: kud-vars.yml
  tasks:
    - name: create SRIOV driver folder in the target destination
      file:
        state: directory
        path: "{{ item }}"
      with_items:
        - sriov_driver
      when: SRIOV == True
    - name: Copy SRIOV driver to target destination
      command: "cp {{ sriov_dest }}/{{ package }}/src/iavf.ko /root/sriov_driver/"
      when: SRIOV == True
    - name: Copy SRIOV driver install script to target folder
      command: "cp {{ playbook_dir }}/install_iavf_drivers.sh /root/sriov_driver/install.sh"
      when: SRIOV == True
    - name: Changing perm of "install.sh", adding "+x"
      file: dest=~/sriov_driver/install.sh mode=a+x
      when: SRIOV == True
    - name: Run a script with arguments
      shell: ~/sriov_driver/install.sh
      when: SRIOV == True
